<hackabotacl>
	<default action="allow" />
	<command name="nagios" action="deny">
		<public chan="#osuosl" action="deny"
		msg="You're not special enough.">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
		</public>
		<private action="deny"
		msg="You're not special enough.">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
		</private>
		<public chan="#osuosl-staff" action="allow" />
	</command>
	<command name="topvhosts" action="deny">
		<public chan="#osuosl" action="deny"
		msg="You're not special enough.">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
		</public>
		<public chan="#osuosl-staff" action="allow" />
		<private action="deny"
		msg="You're not special enough.">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
		</private>
	</command>
	<command name="onscreen" action="deny">
		<public chan="#osuosl-staff" action="allow" />
		<public chan="#osuosl" action="allow" />
		<private action="deny">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
			<person nick="morgamic"	action="allow" />
			<person nick="polvi"	action="allow" />
			<person nick="philips"	action="allow" />
		</private>
	</command>
	<command name="volume" action="deny">
		<public chan="#osuosl-staff" action="allow" />
		<private action="deny">
			<person nick="marineam" action="allow" />
			<person nick="cshields" action="allow" />
			<person nick="raema"	action="allow" />
			<person nick="emsearcy"	action="allow" />
			<person nick="chizu"	action="allow" />
			<person nick="morgamic"	action="allow" />
			<person nick="polvi"	action="allow" />
		</private>
	</command>
	<command name="admin" action="deny"
	msg="You are not my master!">
		<public chan="#osuosl-staff" action="deny"
		msg="Keep you dirty hands off me!">
			<person nick="marineam"	action="allow" />
		</public>
		<public chan="#foss-anonymous" action="deny"
		msg="Keep you dirty hands off me!">
			<person nick="marineam"	action="allow" />
		</public>
		<private action="deny"
		msg="Even even behind closed doors I'm not your slave!">
			<person nick="marineam" action="allow" msg="Fine...." />
		</private>
	</command>
	<command name="gobeavs" action="deny" />
	<command name="cowsay" action="allow">
		<public chan="#osu-chat" action="deny" />
	</command>
	<command name="moo" action="allow">
		<public chan="#osu-chat" action="deny" />
	</command>
	<command name="insult" action="allow">
		<public chan="#osu-chat" action="deny" />
	</command>
	<command name="lunch" action="allow">
		<public chan="#osu-chat" action="deny" />
		<public chan="#cws" action="deny" />
	</command>
</hackabotacl>
